#google-logo {
      margin-top: 18vh;
      /* transform: scale(1.05); */
      margin-left: 38.75vw; 
      padding-bottom: 25px;
}

#header {
    width: 100vw; 
    color: #000;
    margin-top: 17px; 
}

#grid {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    
}

#leftside {
    text-align: left;
    
    display: inline-block; 
}

#rightside {
    text-align: center;
    
    display: inline-block; 
    margin-left: 915px;
}
#leftside a {
    text-align: left;
    color: #000;
    font-size: 12.5px;
    padding-left: 15px;
    text-decoration-line: none; 
    font-family: arial, sans-serif;
}

#rightside a {
    text-align: right;
    color: #000;
    font-size: 12.5px;
    padding-right: 15px;
    text-decoration-line: none; 
    font-family: arial, sans-serif;
}

#searchbar {
    border-radius: 24px;
    width: 582px;
    margin-left: 25.5em;
    height: 44px; 
    border: 1px solid #dfe1e5;
}

.search-buttons button {
    background-color: #f2f2f2; 
    border-radius: 4px;
    height: 36px; 
    border: 1px solid #f2f2f2;
    margin: 28px 3px;
    font-size: 14px; 
    padding-left: 16px;
    padding-right: 16px;
    color: #5F6368; 
}

.search-buttons {
    text-align: center; 
}

#searchbar {
    
}

#center {

}

footer {

}